@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(229 231 235);
  background-color: rgb(31 41 55);
}

#app {
  color: rgb(229 231 235);
  background-color: rgb(31 41 55);
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}
